workflows/simple_rag_model/Qdrant_Rag_Model.json
{
  "name": "Qdrant_Rag_Model",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1iJz-JlF26hSiLMqBHSbHfm6rbfTihYKA",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1iJz-JlF26hSiLMqBHSbHfm6rbfTihYKA"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -2240,
        1296
      ],
      "id": "5e91d7e1-4c71-4ab5-9909-ed8c69b09d62",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DX3Phu5rHmhlfZgD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Google Drive Trigger').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1792,
        1296
      ],
      "id": "4f00ab56-b43a-4a61-945d-a410cb116d00",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DX3Phu5rHmhlfZgD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "HeiFinance",
          "mode": "list",
          "cachedResultName": "HeiFinance"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -1568,
        1296
      ],
      "id": "1136a973-d74a-48a0-a671-9f40f7e55fed",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "00hJcXqGG8vHKorQ",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1568,
        1520
      ],
      "id": "93d7f7b0-d34c-45ae-9150-6e9ff55718b3",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "6iks2HO5Pg4A3HpX",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "source",
                "value": "={{ $('Google Drive Trigger').item.json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -1424,
        1520
      ],
      "id": "2f6acff7-9dab-4c8c-920f-54634d21fd8f",
      "name": "Default Data Loader1",
      "alwaysOutputData": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "resource": "point",
        "operation": "deletePoints",
        "collectionName": {
          "__rl": true,
          "value": "HeiFinance",
          "mode": "list",
          "cachedResultName": "HeiFinance"
        },
        "points": "",
        "filter": "={\n  \"must\": [\n    {\n      \"key\": \"metadata.source\",\n      \"match\": {\n        \"value\": \"HeiFinance Bank Product Fact Sheet.pdf\"\n      }\n    }\n  ]\n}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-qdrant.qdrant",
      "typeVersion": 1,
      "position": [
        -2016,
        1296
      ],
      "id": "f6fff7e7-0ffa-4e52-bf86-7da91c2ad5bb",
      "name": "Delete Points",
      "alwaysOutputData": false,
      "credentials": {
        "qdrantRestApi": {
          "id": "UvFpLB53s7pPiSa9",
          "name": "Qdrant account"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "Google Drive Trigger": [
      {
        "json": {
          "parents": [
            "1iJz-JlF26hSiLMqBHSbHfm6rbfTihYKA"
          ],
          "lastModifyingUser": {
            "displayName": "Wei Lian Low",
            "kind": "drive#user",
            "me": true,
            "permissionId": "11352034559466603179",
            "emailAddress": "weilian.low90@gmail.com",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKEcc7SBxHQgXI4GDZqD8SS0RsvhWkEJIpVQPoe7I6H6CJ92Q=s64"
          },
          "owners": [
            {
              "displayName": "Wei Lian Low",
              "kind": "drive#user",
              "me": true,
              "permissionId": "11352034559466603179",
              "emailAddress": "weilian.low90@gmail.com",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKEcc7SBxHQgXI4GDZqD8SS0RsvhWkEJIpVQPoe7I6H6CJ92Q=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "11352034559466603179",
              "type": "user",
              "emailAddress": "weilian.low90@gmail.com",
              "role": "owner",
              "displayName": "Wei Lian Low",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKEcc7SBxHQgXI4GDZqD8SS0RsvhWkEJIpVQPoe7I6H6CJ92Q=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "permissionIds": [
            "11352034559466603179"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "kind": "drive#file",
          "id": "1CJQ3yOv-CJ2rJrOkY6wPzoMW_u6-TEyI",
          "name": "HeiFinance Bank Product Fact Sheet.pdf",
          "mimeType": "application/pdf",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "3",
          "webContentLink": "https://drive.google.com/uc?id=1CJQ3yOv-CJ2rJrOkY6wPzoMW_u6-TEyI&export=download",
          "webViewLink": "https://drive.google.com/file/d/1CJQ3yOv-CJ2rJrOkY6wPzoMW_u6-TEyI/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/pdf",
          "hasThumbnail": true,
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBOWNHVi4P61hnKfJ7WqRhje36EOQ-p2wVGHJMukQoywPoSHUXE6AKtBQpl1D5mRJvIFjerOcmIi3XKSbCbbcTuLOg6b2GrNW2t_bxnXGafxdLA=s220",
          "thumbnailVersion": "1",
          "viewedByMe": true,
          "viewedByMeTime": "2025-12-24T05:43:57.008Z",
          "createdTime": "2025-12-24T05:43:57.008Z",
          "modifiedTime": "2025-12-24T04:13:40.000Z",
          "modifiedByMeTime": "2025-12-24T04:13:40.000Z",
          "modifiedByMe": true,
          "shared": false,
          "ownedByMe": true,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "originalFilename": "HeiFinance Bank Product Fact Sheet.pdf",
          "fullFileExtension": "pdf",
          "fileExtension": "pdf",
          "md5Checksum": "f0ff481533c1ceb1ad6b2efae03b96f8",
          "sha1Checksum": "c13b615d030a1c432dffeec86674b0a2295a1dae",
          "sha256Checksum": "9a564404c07eef213227cade721a4882ddf803033ebace8a3f765cb2dd970026",
          "size": "56697",
          "quotaBytesUsed": "56697",
          "headRevisionId": "0B9vFg8RxfcRiS0ZMS2daVTN2bFdNUmNyODAwY0lhOUk2NXU4PQ",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Delete Points": [
      {
        "json": {
          "result": {
            "operation_id": 20,
            "status": "completed"
          },
          "status": "ok",
          "time": 0.000560958
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Delete Points",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        []
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Delete Points": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "169c5235-7aff-463f-b9bc-7867f7e93c1b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "24b147d28ae5b4fa24dc4307a6ea4227c41fea95cc0dfd47027d1bcb81477058"
  },
  "id": "dqu130Vrd3HaPxeF",
  "tags": []
}